apiVersion: v1
kind: Service
metadata:
  name: exchange
  labels:
    app: exchange
spec:
  type: ClusterIP
  ports:
    - port: 80
      protocol: TCP
      targetPort: 8080

  selector:
    app: exchange